body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}
