body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(57, 57, 57);
  border: 3px solid white;
  height: 35vh;
}

.outputScreen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25vh;
  color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons button {
  width: 25%;
  height: 50px;
  color: white;
  background-color: rgb(57, 57, 57);
}

.buttons .clearButton {
  width: 75%;
  background-color: rgb(120, 120, 120);
}

.buttons .zeroButton {
  width: 50%;
}

.buttons .operatorButton {
  background-color: rgb(183, 121, 4);
}
