body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid white;
  width: 301px;
  height: 456px;
  position: relative;
}

button {
  width: 100%;
  background-color: rgb(62, 59, 59);
  color: white;
}

.divideButton,
.multiplyButton,
.minusButton,
.addButton,
.equalButton {
  background-color: rgb(216, 141, 0);
}

button.clearButton {
  width: 310%;
  background-color: rgb(150, 147, 147);
}

.row1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  border-bottom: 1px solid white;
  width: 295px;
  height: 75px;
  font-size: 28px;
}

span {
  padding-bottom: 20px;
  padding-right: 10px;
}

.row2 {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 75px;
  width: 295px;
}

.row3 {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 150px;
  width: 295px;
}

.row4 {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 225px;
  width: 295px;
}

.row5 {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 300px;
  width: 295px;
}

button.zeroButton {
  width: 205%;
}

.row6 {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 375px;
  width: 295px;
}
